body{
	background-color: #BDBDBD;
}

.cards {
	column-count: 3;
	height: 100%;
	width: 100%;
	padding-top: 11vh;
}

.card {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	width: 100%;
	margin-bottom: 3vh;
}

.cards-x10 {
	column-count: 2;
	height: 100%;
	width: 100%;
	padding-top: 11vh;
}

.card-title {
	font-size: 16pt;
}

.card-category {
	font-size: 12;
}

.card-event-place {
	font-size: 14;
}

.card-city {
	font-size: 14;
}

.open-in-map {
	float: right;
	margin-bottom: 2vh;
}

.highlighted-keyword {
	background-color: #FF5722;
}
